**.sln**
**.vscode**
**APP**
**documents**
**.sln**
**.vcxproj**
**.suo**
**.vs**
**bin**
**lib**
**obj**

/UI/FittingTest/imgui.ini
/UI/FittingTest/imgui.ini
/JFMServices/API.md
/JFMServices/API.pdf
/JunctionFitMaster/Characteristics/dat
/JunctionFitMaster/Characteristics
/JunctionFitMaster/dat
/MCResults
JFMServices/python/SemiconductorStudio-enviroment
/JunctionFitMaster/testsToSave.png
/JunctionFitMaster/testsToSave.txt
/data/CIGS_Sulfur_temp
/JunctionFitMaster/CIGS_Sulfur_temp/results
/JunctionFitMaster/CIGS_Sulfur_temp/convert-data.py
